.jobs{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    .jobs__background{
        background-color: $desaturatedDarkCyan;
        height: 156px;
        width: 100vw;
        img{
            max-height: 156px;
            width: 100%;
        }
    }
    .jobs__list{
        width: 100%;
        position: absolute;
        margin-top: 120px;
    }
}

.card__content{
    margin-left: 165px;
    margin-right: 165px;
    &.filter{
        height: 72px;
        margin-bottom: 40px;        
    }
    &.job{
        height: 150px;
        margin-bottom: 26px     
    }
}
.card__body{
    background-color: #fff;
    height: 100%;
    border-left: 5px solid #fff;
    &.featured{
        border-left: 5px solid $desaturatedDarkCyan;
    }
    border-radius: 4px;
    display: flex;
    width: 100%;
    filter: $shadow;
    .body__content{
        padding: 0 35px 0 35px;
        width: 100%;
        display: flex;
        .data{
            flex: 1;
            display: flex;
            .data__foto{
                width: 88px;
                padding: 31px 0;
                margin-right: 25px;
            }
            .data__job{
                padding: 31px 0;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                div{
                    display: flex;
                }
                .job__company{
                    color: $desaturatedDarkCyan;
                    font-size: 18px;
                    font-weight: 700;
                    margin-right: 10px;
                }
                .job__at{
                    font-size: 18px;
                    color: $darkGrayishCyan;
                    span:first-child{
                        padding-right: 16px;
                    }
                    span:not(:first-child){
                        padding-right: 16px; 
                        &::before{
                            content: '·';
                            padding-right: 16px;    
                        }
                    }
                }
                .job__badge{
                    height: 24px;
                    margin: 0 5px;
                    padding: 0 8px;
                    border-radius: 12px;
                    line-height: 28px;
                    color: #fff;
                    span{
                        line-height: 28px;
                        font-size: 14px;
                    }
                    &.new{
                        background-color: $desaturatedDarkCyan;
                    }
                    &.featured{
                        background-color: #000;
                    }
                }
                h1{
                    font-size: 22px;
                    margin: 0;
                }
            }
        }
        .tags{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: end;
            div{
                height: 32px;
                margin: 0 8px;    
                padding: 0 10px;
                border-radius: 5px;
                background-color: $lightGrayishCyanBackground;
                color: $desaturatedDarkCyan;
                span{
                    line-height: 28px;    
                    line-height: 35px;
                }
            }
        }
        &.filter{
            justify-content: space-between;
            align-items: center;
        }
        .buttons{
            span{
                height: 32px;
                margin: 0 8px;    
                padding: 0 10px;
                border-radius: 5px;
                background-color: $lightGrayishCyanBackground;
                color: $desaturatedDarkCyan;
            }
        }
    }
}
.card__hide{
    display: none;
}